.board-container {
    width: min-content;
    display: grid;
}

.beginner {
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
}

.intermediate {
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
}

.expert {
    grid-template-columns: repeat(30, 28px);
    grid-template-rows: repeat(16, 28px);
}

.board-grid {
    border: 1px black solid;
    background-color: rgb(221, 221, 221);
}

.unopen {
    background-color: rgb(83, 83, 83);
}

.win {
    background-color: green;
}

.lose {
    background-color: red;
}