.board-container {
    width: min-content;
    display: grid;
    background-color: rgb(55, 0, 0);
    gap: 5px;
    border: 5px rgb(55, 0, 0) solid;
    color: rgb(177, 116, 116)
}

.beginner {
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
}

.intermediate {
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
}

.expert {
    grid-template-columns: repeat(30, 30px);
    grid-template-rows: repeat(16, 30px);
}

.board-grid {
    background-color: rgb(153, 0, 0);
    box-shadow: 2px 2px rgb(29, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.clicking {
    background-color:  rgb(255, 0, 0);
}

.unopen {
    background-color: rgb(80, 0,0);
    box-shadow:2px 2px rgb(29, 0, 0) inset;
}

.win {
    background-color: green;
}

.lose {
    background-color: rgb(255, 0, 0);
}

.tile-img {
    max-width: 28px;
}